quartus/output_files/
quartus/incremental_db/
quartus/db/
quartus/hps_isw_handoff/
*.o
C/ledtest
*.qws
C/.cproject
C/.project
C/.settings/org.eclipse.cdt.core.prefs
C/.settings/
quartus/hps_sdram_p0_summary.csv
quartus/src/_.sublime-workspace
*.sublime-workspace
quartus/src/qsys/.qsys_edit/preferences.xml
